<div class="container" style="min-height: 800px;">
  <app-carousel></app-carousel>
  <h3 class="text-danger col-12  d-flex justify-content-center mb-4 mt-2"><i> <span class="styleUnderLine">  HƯỚNG DẪN</span>  </i></h3>

  <div class="d-flex justify-content-around mt-1">
    <a class="text-center" >
        <img src="assets/images/addmoney.png" class="img-fluid imgingame" />
    </a>

    <a class="text-center" >
        <img src="assets/images/movegame.png" class="img-fluid imgingame" />
    </a>
    <a class="text-center" >
        <img src="assets/images/money.png" class="img-fluid imgingame" />
    </a>
</div>

</div>
