<div class="container" style="min-height: 800px;">
    <app-carousel></app-carousel>
    <h3 class="text-danger col-12  d-flex justify-content-center mb-4 mt-2"><i> <span class="styleUnderLine">  HƯỚNG DẪN</span>  </i></h3>

    <div class="d-flex justify-content-around mt-1">
        <a class="text-center " style="width: 30%;margin-right: 2%;" routerLink="/aboutdeposit">
            <img src="assets/images/guide_naprut1.png" class="img-fluid imgingame" />
            <h5>NẠP RÚT TIỀN</h5>
        </a>

        <a class="text-center " style="width: 31%;margin-left: 13%;" routerLink="/aboutlogin">
            <img src="assets/images/login.png" class="img-fluid imgingame" />
            <h5>ĐĂNG NHẬP</h5>
        </a>
        <a class="text-center" style="width: 50%; margin-left: 5%;" routerLink="/aboutaccountgame">
            <img src="assets/images/guide_vao_link.jpg" class="img-fluid imgingame" />
            <h5>LẤY TÀI KHOẢN GAME</h5>
        </a>
    </div>

</div>
