.borderstyle {
    border-color: rgba(121, 118, 118, 0.26);
    border-width: 1px;
    border-top-width: 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

th.text-center,
td.text-center {
    border-style: solid;
    border-color: rgba(121, 118, 118, 0.26);
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
}