<div class="col-md-10 col-sm-12">
    <div class="row">
        <h3 class="text-danger col-12  d-flex justify-content-center mb-4"><i>LỊCH SỬ <span class="styleUnderLine"> NẠP RÚT </span> TÀI KHOẢN</i></h3>
        <div class=" col-md-12 d-flex justify-content-center my-4">
            <button type="submit" class="btn btn-danger mt-2 " (click)="addTransaction()">THÊM DỮ LIỆU TÀI KHOẢN</button>
        </div>
        <div class="input-group mb-3 col-md-12 margin-input-right">
            <input type="text" class="form-control margin-input-left" placeholder="Tìm kiếm..." [(ngModel)]="searchTerm" name="search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" (click)="search()">Tìm kiếm</button>
            </div>
        </div>
        <div class="input-group  col-md-12 d-flex justify-content-center my-4" *ngIf="transactionsLoaded">
            <table class="border-top-0" style="width: 80%;">
                <thead>
                    <tr class="borderstyle m-1">
                        <th class="px-4 text-center">Số Thứ Tự</th>
                        <th class="px-4 text-center">Người Dùng</th>
                        <th class="px-4 text-center">TK Người Dùng </th>
                        <th class="px-4 text-center">TK ADMIN </th>
                        <th class="px-4 text-center">Số Tiền</th>
                        <th class="px-4 text-center">Ngày Giao Dịch</th>
                        <th class="px-4 text-center">Trạng Thái</th>
                        <th class="px-4 text-center">Nạp/Rút</th>
                        <th class="px-4 text-center">Cập nhật</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of fullData.slice((currentPage - 1) * pageSize, currentPage * pageSize); let i = index" class="borderstyle m-1">
                        <td class=" py-2 text-center">{{ (currentPage - 1) * pageSize + i +1 }}</td>
                        <td class=" py-2 text-center">{{ transaction.user?.username}}</td>
                        <td class=" py-2 text-center">{{ transaction.bankAccount?.ownerName}}-{{transaction.bankAccount?.bankAccountNumber}}</td>
                        <td class=" py-2 text-center">{{ transaction.bankAccountAdmin?.bankAccountNumber}}</td>
                        <td class=" py-2 text-center">{{ transaction.amount }}</td>
                        <td class=" py-2 text-center">{{ transaction.date | date:'yyyy/MM/dd'}}</td>
                        <td class=" py-2 text-center">{{ transaction.status?.name}}</td>
                        <td class=" py-2 text-center">
                            <span *ngIf="transaction.type === 'deposit'">Nạp tiền</span>
                            <span *ngIf="transaction.type === 'withdrawal'">Rút tiền</span></td>
                        <td class="px-4 py-2 text-center">
                            <a (click)="updateTransaction(transaction._id)" class="text-primary"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
            <span class="px-3"> Chọn </span>
            <select [(ngModel)]="pageSize" (change)="currentPage = 1" class="mx-3">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
        </select>
            <button *ngIf="currentPage > 1" (click)="currentPage = currentPage - 1"><i class="fa-solid fa-arrow-left"></i>  </button>
            <button *ngIf="currentPage < (managerTransaction.length / pageSize)" (click)="currentPage = currentPage + 1"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>