<form [formGroup]="formRegister" (ngSubmit)="onSubmit()" class="container">
    <div class=" col-md-12">
        <div class="row">
            <i class="col-md-12 d-flex justify-content-center">
                <h2 class="text-danger">ĐĂNG <u class="text-danger">KÝ TÀI</u> KHOẢN</h2>
            </i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="fullName">Họ tên (Tên thật trùng với tài khoản ngân hàng) <span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="fullName" id="fullName" class="form-control">
                    <div class="col alert alert-danger" *ngIf=" confirm && formRegister.controls.fullName.errors">
                        <div *ngIf="confirm &&  formRegister.controls.fullName.errors.required">Xin hãy nhập Tên tài khoản</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="username">Tên đăng nhập <span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="username" id="username" class="form-control">
                    <div class="col alert alert-danger" *ngIf=" confirm && formRegister.controls.username.errors">
                        <div *ngIf="confirm &&  formRegister.controls.username.errors.required">Xin hãy nhập Tên tài khoản</div>
                        <div *ngIf=" confirm && formRegister.controls.username.errors.minlength"> Độ dài của Tên tài khoản không thể nhỏ hơn 6
                        </div>
                        <div *ngIf="confirm && formRegister.controls.username.errors.maxlength">Độ dài của Tên tài khoản không thể lơn hơn 20 </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="email">Email (email để nhận tài khoản game) <span class="text-danger">(*)</span></label>
                    <input type="email" formControlName="email" id="email" class="form-control">
                    <div class="col alert alert-danger" *ngIf="confirm && formRegister.controls.email.errors">
                        <div *ngIf="confirm &&  formRegister.controls.email.errors.required">Xin hãy nhập email</div>
                        <div *ngIf="confirm &&  formRegister.controls.email.errors.email">Xin hãy nhập email đúng định dạng ...a@gmail.com</div>
                        <div *ngIf=" confirm && formRegister.controls.email.errors.minlength"> Độ dài của mail không thể nhỏ hơn 10
                        </div>
                        <div *ngIf="confirm && formRegister.controls.email.errors.maxlength">Độ dài của mail không thể lơn hơn 50 </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="numberPhone"> Số điện thoại<span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="numberPhone" id="numberPhone" class="form-control">
                    <div class="col alert alert-danger" *ngIf="confirm && formRegister.controls.numberPhone.errors">
                        <div *ngIf="confirm &&  formRegister.controls.numberPhone.errors.required">Xin hãy nhập số điện thoại</div>
                        <div *ngIf=" confirm && formRegister.controls.numberPhone.errors.minlength"> Độ dài của số điện thoại không thể nhỏ hơn 8
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 position-relative">
                    <label for="password">Mật khẩu (6 ký tự)<span class="text-danger">(*)</span></label>
                    <input autocomplete="off" [type]="formRegister.get('showPassword').value ? 'text' : 'password'" formControlName="password" id="password" class="form-control" (change)="onChangePassword()">
                    <span class="input-group-text position-absolute register-top-50 register-end-0 register-translate-middle-y" (click)="formRegister.get('showPassword').setValue(!formRegister.get('showPassword').value)">
                        <i class="fa-solid fa-eye-slash" *ngIf="!formRegister.get('showPassword').value"></i>
                        <i class="fa-solid fa-eye"  *ngIf="formRegister.get('showPassword').value"></i>
                    </span>
                    <div class="col alert alert-danger" *ngIf=" confirm && formRegister.controls.password.errors">
                        <div *ngIf="   confirm &&  formRegister.controls.password.errors.required">Xin hãy nhập mật khẩu</div>
                        <div *ngIf=" confirm && formRegister.controls.password.errors.minlength"> Độ dài của mật khẩu không thể nhỏ hơn 6
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 position-relative">
                    <label for="confirmPassword">Nhập lại mật khẩu<span class="text-danger">(*)</span></label>
                    <input name="confirmPassword" autocomplete="off" [type]="formRegister.get('showPasswordconfirm').value ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword" class="form-control" (change)="onChangeConfirmPassword()">
                    <span class="input-group-text position-absolute  register-top-50 register-end-0 register-translate-middle-y" (click)="formRegister.get('showPasswordconfirm').setValue(!formRegister.get('showPasswordconfirm').value)">
                        <i class="fa-solid fa-eye-slash" *ngIf="!formRegister.get('showPasswordconfirm').value"></i>
                        <i class="fa-solid fa-eye"  *ngIf="formRegister.get('showPasswordconfirm').value"></i>
                    </span>
                    <div class="col alert alert-danger" *ngIf=" confirm && formRegister.controls.confirmPassword.errors">
                        <div *ngIf="   confirm &&  formRegister.controls.confirmPassword.errors.required">Xin hãy nhập mật khẩu xác nhận</div>
                        <div *ngIf=" confirm && formRegister.controls.confirmPassword.errors.minlength"> Độ dài của mật khẩu xác nhận không thể nhỏ hơn 6
                        </div>
                        <div *ngIf="formRegister.controls.confirmPassword.errors?.notMatch">Mật khẩu xác nhận không khớp với mật khẩu</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="bankId"> Ngân Hàng<span class="text-danger">(*)</span></label>
                    <!-- <select formControlName="bankName" id="bankName" class="form-control" name="bankName">
                    <option *ngFor="let data of bankNameLists" [value]="data.id">{{data.name}}
                    </option>
                        </select> -->
                    <!-- <select id="bankId" class="form-control" name="bankId" [(ngModel)]="selectedBank" (ngModelChange)="onBankChange($event)" [ngModelOptions]="{standalone: true}">
                 <option *ngFor="let bank of bankNameLists" [value]="bank._id">{{bank.name}}</option>
                        </select> -->
                    <ng-select [items]="bankNameLists" bindLabel="name" bindValue="_id" formControlName="bankId" [(ngModel)]="selectedBank" (ngModelChange)="onBankChange($event)"></ng-select>
                    <!-- <div *ngIf="formRegister.get('bankId').invalid && (formRegister.get('bankId').dirty || formRegister.get('bankId').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('bankId').errors.required">Vui lòng chọn ngân hàng</div>
                    </div> -->
                </div>
                <div class="form-group col-md-12">
                    <label for="bankAccountNumber"> Số Tài Khoản<span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="bankAccountNumber" id="bankAccountNumber" class="form-control">
                    <div class="col alert alert-danger" *ngIf="confirm && formRegister.controls.bankAccountNumber.errors">
                        <div *ngIf="confirm &&  formRegister.controls.bankAccountNumber.errors.required">Xin hãy nhập số tài khoản</div>
                        <div *ngIf=" confirm && formRegister.controls.bankAccountNumber.errors.minlength"> Độ dài số tài khoản không thể nhỏ hơn 8
                        </div>
                    </div>
                </div>
                <div class=" col-md-12 d-flex justify-content-end mb-4">
                    <button type="button" class="btn btn-primary mt-2 " (click)="register()">Đăng ký</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12 m-3 " *ngFor="let item of gameProductAll">
                    <img [alt]="item?.name" [src]="item.linkImage" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">1 điểm = 25.000 vnđ</span>
                </div>
                <!-- <div class="col-md-12 m-3 ">
                    <img alt="2sbobet" src="../../assets/images/1Bong88.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">1Bong88: 1 điểm = 25.000 vnđ</span>
                </div>
                <div class="col-md-12 m-3">
                    <img alt="2sbobet" src="../../assets/images/2SBOBET.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">2SBOBET: 1 điểm = 25.000 vnđ</span>
                </div>

                <div class="col-md-12 m-3">
                    <img alt="2sbobet" src="../../assets/images/Lasvegas.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">Lasvegas: 1 điểm = 25.000 vnđ</span>
                </div>
                <div class="col-md-12 m-3">
                    <img alt="2sbobet" src="../../assets/images/3in1bet.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">3in1bet: 1 điểm = 25.000 vnđ</span>
                </div> -->
            </div>
        </div>
    </div>
</form>