<div class="modal-header">
    <h4 class="modal-title">{{Tittle}}</h4>
</div>
<div class="modal-body">
    <form [formGroup]="formAccountupdate" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
            <!-- <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="id" class="size1Rem">ID :</label>
                    <input type="text" formControlName="id" id="id" class="form-control">
                </div>
            </div> -->
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="nameAccount" class="size1Rem">Tên tài khoản :</label>
                    <input type="text" formControlName="nameAccount" id="nameAccount" class="form-control">
                    <div class="col alert alert-danger" *ngIf="mode == '0' && confirm && formAccountupdate.controls.nameAccount.errors">
                        <div *ngIf="confirm &&  formAccountupdate.controls.nameAccount.errors.required">Xin hãy nhập Tên tài khoản</div>
                        <div *ngIf=" confirm && formAccountupdate.controls.nameAccount.errors.minlength"> Độ dài của Tên tài khoản không thể nhỏ hơn 6
                        </div>
                        <div *ngIf="confirm && formAccountupdate.controls.nameAccount.errors.maxlength">Độ dài của Tên tài khoản không thể lơn hơn 20 </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="typeAccount" class="size1Rem">Loại tài khoản : </label>
                    <select id="typeAccount" class="form-control" name="typeAccount" formControlName="typeAccount">
                            <option value=true>Admin</option>
                            <option value=false>Thường</option>      
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="accountpassword" class="size1Rem">Mật Khẩu :</label>
                    <input type="password" formControlName="accountpassword" id="accountpassword" class="form-control">
                    <div class="col alert alert-danger" *ngIf="mode === '0' && confirm && formAccountupdate.controls.accountpassword.errors">
                        <div *ngIf="  mode === '0' && confirm &&  formAccountupdate.controls.accountpassword.errors.required">Xin hãy nhập mật khẩu</div>
                        <div *ngIf="  mode === '0' && confirm && formAccountupdate.controls.accountpassword.errors.minlength"> Độ dài của mật khẩu không thể nhỏ hơn 6
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="numberPhone" class="size1Rem">Số điện thoại : </label>
                    <input type="text" formControlName="numberPhone" id="numberPhone" class="form-control">
                    <div class="col alert alert-danger" *ngIf="confirm && formAccountupdate.controls.numberPhone.errors">
                        <div *ngIf="confirm &&  formAccountupdate.controls.numberPhone.errors.required">Xin hãy nhập số điện thoại</div>
                        <div *ngIf=" confirm && formAccountupdate.controls.numberPhone.errors.minlength"> Độ dài của số điện thoại không thể nhỏ hơn 8
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="fullname" class="size1Rem">Tên đầy đủ : </label>
                    <input type="text" formControlName="fullname" id="fullname" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="email" class="size1Rem">Email : </label>
                    <input type="text" formControlName="email" id="email" class="form-control">
                    <div class="col alert alert-danger" *ngIf="confirm && formAccountupdate.controls.email.errors">
                        <div *ngIf="confirm &&  formAccountupdate.controls.email.errors.required">Xin hãy nhập email</div>
                        <div *ngIf="confirm &&  formAccountupdate.controls.email.errors.email">Xin hãy nhập email đúng định dạng ...a@gmail.com</div>
                        <div *ngIf=" confirm && formAccountupdate.controls.email.errors.minlength"> Độ dài của mail không thể nhỏ hơn 10
                        </div>
                        <div *ngIf="confirm && formAccountupdate.controls.email.errors.maxlength">Độ dài của mail không thể lơn hơn 50 </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="statusUser" class="size1Rem">Trạng thái tài khoản : </label>
                    <select id="statusUser" class="form-control" name="statusUser" formControlName="statusUser">
                        <option value="true">Đang sử dụng</option>
                        <option value="false">Ngưng sử dụng</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12" *ngIf="mode === '0'">
                <label for="bankId"> Ngân Hàng</label>
                <ng-select [items]="bankNameLists" bindLabel="name" bindValue="_id" formControlName="bankId"></ng-select>
            </div>
            <div class="form-group col-md-6 col-sm-12" *ngIf="mode === '0'">
                <label for="bankAccountNumber"> Số Tài Khoản</label>
                <input type="text" formControlName="bankAccountNumber" id="bankAccountNumber" class="form-control" formControlName="bankAccountNumber">
                <div class="col alert alert-danger" *ngIf=" mode === '0' && confirm && formAccountupdate.controls.bankAccountNumber.errors">
                    <div *ngIf="confirm &&  formAccountupdate.controls.bankAccountNumber.errors.required">Xin hãy nhập số tài khoản</div>
                    <div *ngIf=" confirm && formAccountupdate.controls.bankAccountNumber.errors.minlength"> Độ dài số tài khoản không thể nhỏ hơn 8
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary mt-2 " (click)="btnconfirm()">{{buttonConfirm}}</button>

    <button type="submit" class="btn btn-primary mt-2 " (click)="closeModal()">Đóng</button>
</div>