<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="container">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-6 ">
                <div class=" row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h4 class="font-weight-bold" style="font-family:  Mulish, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Đăng nhập</h4>
                    </div>
                    <div class="col-md-12 my-3">
                        <input type="text" formControlName="username" id="username" class="form-control"><span for="username" class="change-Location bg-white d-flex justify-content-start" (click)="clickInput()">Tên đăng nhập(*)</span>
                        <div *ngIf="formLogin.get('username').invalid && (formLogin.get('username').dirty || formLogin.get('username').touched)" class="invalid-feedback">
                            <div *ngIf="formLogin.get('username').errors.required">Vui lòng nhập họ tên</div>
                        </div>
                    </div>
                    <div class="col-md-12 my-3 position-relative">
                        <input autocomplete="off" [type]="formLogin.get('showPassword').value ? 'text' : 'password'" formControlName="password" id="password" class="form-control" (change)="checkPassword()">
                        <span class="input-group-text position-absolute top-50 end-0 translate-middle-y" (click)="formLogin.get('showPassword').setValue(!formLogin.get('showPassword').value)">
                            <i class="fa-solid fa-eye-slash" *ngIf="!formLogin.get('showPassword').value"></i>
                            <i class="fa-solid fa-eye"  *ngIf="formLogin.get('showPassword').value"></i>
                        </span>
                        <span for="password" class="change-Location bg-white ml-2 d-flex justify-content-start">Mật Khẩu(*)</span>
                        <div *ngIf="formLogin.get('password').invalid && (formLogin.get('password').dirty || formLogin.get('password').touched)" class="invalid-feedback">
                            <div *ngIf="formLogin.get('password').errors.required">Vui lòng nhập password</div>
                        </div>
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="showPassword" formControlName="showPassword">
                            <label class="form-check-label" for="showPassword">Hiện mật khẩu</label>
                        </div> -->
                    </div>
                    <div class="col-md-12">
                        <div class=" col-md-12 d-flex justify-content-center mb-4">
                            <button type="submit" [disabled]="formLogin.invalid" class="btn btn-danger mt-2 ">Đăng nhập</button>
                            <a class="nav-link nav-link-custom " routerLink="/register" routerLinkActive="active" style="margin-left: 5%;" *ngIf="checkaccount === '1'">
                                <button class="btn btn-success mt-2 " type="button">Nhận vào đây để đăng ký</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-3"></div>
        </div>
    </div>
</form>
<style>
    .change-Location {
        position: absolute;
        padding: 0px 3px;
        /* top: 25%; */
        /* right: 77%; */
        transform: translate(-3px, -50px) scale(0.75);
    }
    
    .change-Location :focus {
        color: red;
    }
    
    input:focus {
        border: 2px solid red;
        box-shadow: none;
    }
    /* input:hover {
        border-color: black;
        box-shadow: none;
    } */
</style>