.change-Location {
    position: absolute;
    padding: 0px 3px;
    /* top: 25%; */
    /* right: 77%; */
    transform: translate(-3px, -50px) scale(0.75);
}

.change-Location :focus {
    color: red;
}

input:focus {
    border: 2px solid red;
    box-shadow: none;
}


/* input:hover {
        border-color: black;
        box-shadow: none;
    } */

.position-absolute {
    border: none;
    background-color: white;
}

.end-0 {
    right: 4% !important;
}

.top-50 {
    top: 50% !important;
}