<div class="col-md-10 col-sm-12">
    <div class="row">
        <h3 class="text-danger col-12  d-flex justify-content-center mb-4"><i>THÔNG <span class="styleUnderLine"> TIN TÀI KHOẢN</span> GAME</i></h3>
        <div class="input-group mb-3 col-md-12 margin-input-right">
            <input type="text" class="form-control margin-input-left" placeholder="Tìm kiếm..." [(ngModel)]="searchTerm" name="search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" (click)="search()">Tìm kiếm</button>
            </div>
        </div>
        <div class=" col-md-12 d-flex justify-content-center my-4">
            <table class="border-top-0" style="width: 80%;">
                <thead>
                    <tr class="borderstyle m-1">
                        <th class="px-4 text-center">Số Thứ Tự</th>
                        <th class="px-4 text-center">Số Tài Khoản Game</th>
                        <th class="px-4 text-center">Tên Game</th>
                        <th class="px-4 text-center">Mã người dùng</th>
                        <th class="px-4 text-center">Trạng Thái</th>
                        <th class="px-4 text-center">Thông tin</th>
                        <th class="px-4 text-center">Cập nhật</th>
                        <th class="px-4 text-center">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let accountGame of filteredAccountsGame.slice((currentPage - 1) * pageSize, currentPage * pageSize); let i = index" class="borderstyle m-1">
                        <td class=" py-2 text-center">{{ (currentPage - 1) * pageSize + i +1 }}</td>
                        <td class=" py-2 text-center">{{ accountGame._id}}</td>
                        <td class=" py-2 text-center">{{ accountGame.username }}</td>
                        <td class=" py-2 text-center">{{ accountGame.user }}</td>
                        <td class=" py-2 text-center">{{ accountGame.isActive }}</td>
                        <td class=" py-2 text-center">
                            <a (click)="infoAccountGame(accountGame._id) " class="text-primary"><i class="fa fa-info-circle"></i></a>
                        </td>
                        <td class="px-4 py-2 text-center">
                            <a (click)="updateAccountGame(accountGame._id)" class="text-primary"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="px-4 py-2 text-center">
                            <a (click)="deleteAccountGame(accountGame._id)" class="text-primary"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
            <span class="px-3"> Chọn </span>
            <select [(ngModel)]="pageSize" (change)="currentPage = 1" class="mx-3">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
        </select>
            <button *ngIf="currentPage > 1" (click)="currentPage = currentPage - 1"><i class="fa-solid fa-arrow-left"></i>  </button>
            <button *ngIf="currentPage < (managerAccountGame.length / pageSize)" (click)="currentPage = currentPage + 1"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>