<header class="p-0">
    <nav class="navbar navbar-expand-lg navbar-dark nav-bg p-0">
        <div class="container-fluid p-0">
            <a class="navbar-brand p-0 logo" href="#"><img src="assets/images/logo.png" alt="Logo của trang web"></a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbarmenu()">
        <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom text-white navbar-live" routerLink="/about" routerLinkActive="active">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom  text-white navbar-live" routerLink="/huong-dan" routerLinkActive="active">Hướng dẫn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom  text-white navbar-live" routerLink="/lien-ket" routerLinkActive="active">Liên kết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom  text-white navbar-live" routerLink="/ho-tro" routerLinkActive="active">Hỗ trợ</a>
                    </li>
                    <nav>
                        <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-start " *ngIf="isLoggedIn && isAdmin">
                            <li ngbDropdown [ngbNavItem]="3" class="nav-item navbar-live ">
                                <a href (click)="false" class="nav-link nav-bg  border-0 navbar-live rounded-0" routerLinkActive="active" ngbNavLink ngbDropdownToggle>Quản Lý</a>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem routerLink="/manageraccount">Người dùng</button>
                                    <button ngbDropdownItem routerLink="/managergameaccount">Tài khoản Game</button>
                                    <button ngbDropdownItem routerLink="/managerbankaccount">Tài khoản Ngân Hàng</button>
                                    <button ngbDropdownItem routerLink="/managerbank">Ngân hàng</button>
                                    <button ngbDropdownItem routerLink="/managergame">Game</button>
                                    <button ngbDropdownItem routerLink="/managertransaction">Lịch sử nạp rút</button>
                                    <button ngbDropdownItem routerLink="/managerstatus">Trạng thái</button>
                                    <button ngbDropdownItem routerLink="/managernotification">Thông báo cập nhập</button>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </ul>
                <div class="d-flex" *ngIf="!isLoggedIn">
                    <a class="nav-link nav-link-custom" routerLink="/login" routerLinkActive="active">
                        <button class="btn btn-outline-success-out me-2 text-white" type="button">Đăng nhập</button>
                    </a>
                    <a class="nav-link nav-link-custom" routerLink="/register" routerLinkActive="active">
                        <button class="btn btn-success btn-outline-success-register text-white" type="button">Đăng ký</button>
                    </a>
                </div>
                <div class="d-flex" *ngIf="isLoggedIn">
                    <button class="btn btn-outline-success-out me-2 text-white" (click)="signout()" type="button">Đăng xuất</button>
                    <a class="nav-link nav-link-custom" routerLink="/account-info" routerLinkActive="active">
                        <button class="btn btn-success text-white btn-outline-success-register" type="button">{{username}}</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main style="padding-top: 80px;" #login (click)="toggleNavbar()">
    <router-outlet></router-outlet>
</main>
<footer class="bg-dark text-white" #login (click)="toggleNavbar()">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 " style="text-align: justify;">
                <!-- Nội dung bên trái -->
                <a class="navbar-brand p-0 logo" href="#"><img src="assets/images/logo.png" alt="Logo của trang web"></a>
                <p>T89.bet là một trang web cá cược trực tuyến uy tín và đáng tin cậy. Với giao diện hiện đại, thân thiện và dễ sử dụng, T89.bet cung cấp cho người chơi trải nghiệm cá cược tuyệt vời trên các trò chơi thể thao, casino trực tuyến và e-sports.
                    Trang web cung cấp nhiều loại hình cá cược đa dạng, từ cá cược bóng đá, bóng rổ, tennis, đua ngựa, đua chó đến các trò chơi casino như blackjack, roulette, baccarat và nhiều hơn nữa. T89.bet cam kết đảm bảo tính minh bạch và công bằng
                    trong mọi giao dịch. Trang web sử dụng công nghệ bảo mật hàng đầu để bảo vệ thông tin cá nhân và tài khoản của người chơi. Ngoài ra, T89.bet còn có đội ngũ hỗ trợ khách hàng chuyên nghiệp, sẵn sàng giải đáp mọi thắc mắc và hỗ trợ người
                    chơi 24/7. Với những ưu điểm trên, T89.bet là lựa chọn tuyệt vời cho những người yêu thích trò chơi cá cược trực tuyến và đang tìm kiếm một trang web đáng tin cậy để tham gia.</p>
                <p>© 2023 My Company, Inc. All rights reserved.</p>
            </div>
            <div class="col-md-4 col-12 text-center mt-4">
                <div class="d-flex  flex-column align-items-center ">
                    <div class="p-2">Trang chủ</div>
                    <div class="p-2">Giới thiệu</div>
                    <div class="p-2">Hướng dẫn</div>
                    <div class="p-2">Liên kết</div>
                    <div class="p-2">Hỗ trợ</div>
                </div>
            </div>
            <div class="d-flex  flex-column  col-md-2 col-12 text-right mt-4">
                <div class="row">
                    <!-- Các icon liên hệ -->
                    <!-- <div>
                    <i class="fab fa-facebook fa-2x mt-2 mr-5" style="font-size:24px">	&nbsp;  facebook.com/t89</i>
                    <a> </a>
                </div>
                <div>
                    <i class="fab fa-twitter fa-2x mt-2 mr-5" style="font-size:24px">	&nbsp; twitter.com/T89</i>
                </div>
                <div>
                    <i class="fab fa-instagram fa-2x mt-2 mr-5" style="font-size:24px"></i>
                </div> -->
                    <!-- <i class="fa-brands fa-telegram iconawe"></i> -->
                    <div class="d-flex">
                        <div class="">
                            <i class="fa-regular fa-paper-plane iconawe"></i></div>
                        <div class="  mt-percen  ">
                            <p class="picon"> +0367247190</p>
                            <p class="picon"> +0374307427</p>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="">
                            <i class="fa-sharp fa-regular fa-envelope iconawe "></i></div>
                        <div class="  mt-percen">
                            <p class="picon"> +0367247190</p>
                            <p class="picon"> +0374307427</p>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="">
                            <img src="assets/images/icons8-zalo-2507.png" alt="Image Description" class=" img-thumbnail1 d-block  "></div>
                        <div class="  mt-percen">
                            <p class="picon"> +0367247190</p>
                            <p class="picon"> +0374307427</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>