<header class="p-0">
    <nav class="navbar navbar-expand-lg navbar-dark nav-bg p-0">
        <div class="container-fluid p-0">
            <a class="navbar-brand p-0 logo" href="#"><img src="assets/images/logo.png" alt="Logo của trang web"></a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom" routerLink="/about" routerLinkActive="active">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom" routerLink="/huong-dan" routerLinkActive="active">Hướng dẫn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom" routerLink="/lien-ket" routerLinkActive="active">Liên kết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom" routerLink="/ho-tro" routerLinkActive="active">Hỗ trợ</a>
                    </li>
                    <nav>
                        <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center" *ngIf="isLoggedIn && isAdmin">
                            <li ngbDropdown [ngbNavItem]="3" class="nav-item">
                                <a href (click)="false" class="nav-link adminstyle" routerLinkActive="active" ngbNavLink ngbDropdownToggle>Quản Lý</a>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem routerLink="/manageraccount">Người dùng</button>
                                    <button ngbDropdownItem routerLink="/managergameaccount">Tài khoản Game</button>
                                    <button ngbDropdownItem routerLink="/managerbankaccount">Tài khoản Ngân Hàng</button>
                                    <button ngbDropdownItem routerLink="/managerbank">Ngân hàng</button>
                                    <button ngbDropdownItem routerLink="/managergame">Game</button>
                                    <button ngbDropdownItem routerLink="/managertransaction">Lịch sử nạp rút</button>
                                    <button ngbDropdownItem routerLink="/managerstatus">Trạng thái</button>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </ul>
                <div class="d-flex" *ngIf="!isLoggedIn">
                    <a class="nav-link nav-link-custom" routerLink="/login" routerLinkActive="active">
                        <button class="btn btn-outline-success me-2" type="button">Đăng nhập</button>
                    </a>
                    <a class="nav-link nav-link-custom" routerLink="/register" routerLinkActive="active">
                        <button class="btn btn-success" type="button">Đăng ký</button>
                    </a>
                </div>
                <div class="d-flex" *ngIf="isLoggedIn">
                    <button class="btn btn-outline-success me-2" (click)="signout()" type="button">Đăng xuất</button>
                    <a class="nav-link nav-link-custom" routerLink="/account-info" routerLinkActive="active">
                        <button class="btn btn-success" type="button">{{username}}</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main style="padding-top: 80px;">
    <router-outlet></router-outlet>
</main>
<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 " style="text-align: justify;">
                <!-- Nội dung bên trái -->
                <a class="navbar-brand p-0 logo" href="#"><img src="assets/images/logo.png" alt="Logo của trang web"></a>
                <p>Chúng tôi cung cấp cho bạn trải nghiệm cá cược hoàn toàn mới với hàng trăm sản phẩm cược như: Thể Thao, Virtual Sport, Virtual Casino và hệ thống Casino Trực Tuyến tuyệt vời đượcAZ88.Betcung cấp, khách hàng sẽ được tận hưởng một thế giới
                    Sòng Bạc thực hơn bao giờ hết!AZ88.BETđược hoạt động dựa theo giấy phép của Philippines và thuộc...</p>
                <p>© 2023 My Company, Inc. All rights reserved.</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="d-flex flex-column">
                    <div class="p-2">Nội dung cột 1</div>
                    <div class="p-2">Nội dung cột 2</div>
                    <div class="p-2">Nội dung cột 3</div>
                </div>
            </div>
            <div class="d-flex flex-column col-md-4 text-right">
                <!-- Các icon liên hệ -->
                <div>
                <i class="fab fa-facebook fa-2x mt-2 mr-5"> facebook.com/g87</i> <a> </a>
              </div>
              <div>
                <i class="fab fa-twitter fa-2x mt-2 mr-5">twitter.com/G87</i>
              </div>
              <div>
                <i class="fab fa-instagram fa-2x mt-2 mr-5"></i>
              </div>
            </div>
        </div>
    </div>
</footer>
