<div class="container my-4">
    <div class="row">
        <div class="col-md-3 "></div>
        <div class="col-md-6 ">
            <div class=" row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="font-weight-bold" style="font-family:  Mulish, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Đăng nhập</h4>
                </div>
                <div class="col-md-12 my-3">
                    <input type="text" formControlName="loginName" id="loginName" class="form-control"><span for="loginName" class="change-Location bg-white d-flex justify-content-start" (click)="clickInput()">Tên đăng nhập(*)</span>
                    <div *ngIf="formRegister.get('loginName').invalid && (formRegister.get('loginName').dirty || formRegister.get('loginName').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('loginName').errors.required">Vui lòng nhập họ tên</div>
                    </div>
                </div>
                <div class="col-md-12 my-3">
                    <input type="text" formControlName="loginPass" id="loginPass" class="form-control"><span for="loginPass" class="change-Location bg-white ml-2 d-flex justify-content-start">Mật Khẩu(*)</span>
                    <div *ngIf="formRegister.get('loginPass').invalid && (formRegister.get('loginPass').dirty || formRegister.get('loginPass').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('loginPass').errors.required">Vui lòng nhập password</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class=" col-md-12 d-flex justify-content-center mb-4">
                        <button type="submit" [disabled]="formRegister.invalid" class="btn btn-danger mt-2 ">Đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-3"></div>
    </div>
</div>
<style>
    .change-Location {
        position: absolute;
        padding: 0px 3px;
        /* top: 25%; */
        /* right: 77%; */
        transform: translate(-3px, -50px) scale(0.75);
    }
    
    .change-Location :focus {
        color: red;
    }
    
    input:focus {
        border: 2px solid red;
        box-shadow: none;
    }
    /* input:hover {
        border-color: black;
        box-shadow: none;
    } */
</style>