<div class="modal-header">
    <h4 class="modal-title">Thông Tin Tài Khoản Game</h4>
</div>
<div class="modal-body">
    <form [formGroup]="formAccountinfoGame" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="accountGame" class="size1Rem">Mã sản phẩm game :</label>
                    <input type="text" formControlName="accountGame" id="accountGame" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="nameAccountGame" class="size1Rem">Tên loại game :</label>
                    <input type="text" formControlName="nameAccountGame" id="nameAccountGame" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="passAccountGame" class="size1Rem">Mật Khẩu Game :</label>
                    <input type="password" formControlName="passAccountGame" id="passAccountGame" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="userGame" class="size1Rem">Mã người dùng : </label>
                    <input type="text" formControlName="userGame" id="userGame" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="statusAccount" class="size1Rem">Trạng thái tài khoản : </label>
                    <select id="statusAccount" class="form-control" name="statusAccount" formControlName="statusAccount" style="pointer-events: none;">
                            <option value="true">True</option>
                            <option value="false">False</option>      
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary mt-2 " (click)="closeModal()">Đóng</button>
</div>