<div class="container">
    <h5>
        <strong>Click vào nút đăng nhập phía góc phải màn hình</strong>

    </h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/dangnhap1.PNG" class="img-fluid imgingame" />
    </a>
    <h5 class="mt-4">
        <strong>Điền tên đăng nhập và mật khẩu tài khoản. Sau đó nhấn nút đăng nhập để sử dụng tài khoản</strong>

    </h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/dangnhap2.PNG" class="img-fluid imgingame" />
    </a>

</div>