<div class="modal-header">
    <h4 class="modal-title">Thông Tin Tài Khoản</h4>
</div>
<div class="modal-body">
    <form [formGroup]="formAccountinfoBank" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="accountBank" class="size1Rem">Số Tài Khoản :</label>
                    <input type="text" formControlName="accountBank" id="accountBank" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="nameAccountBank" class="size1Rem">Tên chủ tài khoản :</label>
                    <input type="text" formControlName="nameAccountBank" id="nameAccountBank" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="userBank" class="size1Rem">Tài khoản : </label>
                    <input type="text" formControlName="userBank" id="userBank" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="statusAccount" class="size1Rem">Trạng thái tài khoản : </label>
                    <select id="statusAccount" class="form-control" name="statusAccount" formControlName="statusAccount">
                            <option value="true">True</option>
                            <option value="false">False</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary mt-2 " (click)="confirm()">Đồng ý</button>
    <button type="submit" class="btn btn-primary mt-2 " (click)="closeModal()">Đóng</button>
</div>
