<div class="modal-header">
    <h4 class="modal-title">{{Tittle}}</h4>
</div>
<div class="modal-body">
    <form [formGroup]="formAccountupdateTransaction" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="UserName" class="size1Rem">Tài Khoản User :</label>
                    <!-- <select id="nameGame" class="form-control" name="nameGame" formControlName="nameGame">
                        <option *ngFor="let nameGame of allGameproduct" [value]="nameGame._id">{{nameGame.name}}</option>
                    </select> -->
                    <ng-select [items]="allUserName" bindLabel="username" bindValue="_id" formControlName="UserName"></ng-select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="nameGame" class="size1Rem">Game :</label>
                    <ng-select [items]="allGameproduct" bindLabel="name" bindValue="_id" formControlName="nameGame"></ng-select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <label for="AccountBankUser" class="size1Rem">Tài Khoản ngân hàng User : </label>
                <ng-select [items]="listallBankAccount" bindLabel="fullNameBank" bindValue="_id" formControlName="AccountBankUser"></ng-select>
            </div>
            <div class="col-md-12 col-sm-12">
                <label for="AccountBankAdmin" class="size1Rem">Tài Khoản ngân hàng  Admin : </label>
                <ng-select [items]="listallBankAccount" bindLabel="fullNameBank" bindValue="_id" formControlName="AccountBankAdmin"></ng-select>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="amount" class="size1Rem">Số tiền :</label>
                    <input type="number" formControlName="amount" id="amount" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="status" class="size1Rem">Trạng thái :</label>
                    <ng-select [items]="listallStatus" bindLabel="name" bindValue="_id" formControlName="status"></ng-select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="type" class="size1Rem">Loại chuyển khoản :</label>
                    <select formControlName="type" id="type" class="form-control">
                        <option value="deposit">Nạp Tiền</option>
                        <option value="withdrawal">Rút Tiền</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group col-md-12">
                    <label for="note" class="size1Rem">Ghi chú:</label>
                    <textarea type="text" formControlName="note" id="note" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary mt-2 " (click)="confirm()">{{buttonConfirm}}</button>
    <button type="submit" class="btn btn-primary mt-2 " (click)="closeModal()">Đóng</button>
</div>