<div class="container">
    <p>
        <strong>Hỗ trợ nạp tiền nhiều ngân hàng khác nhau. Quý khách vui lòng truy cập mục NẠP TIỀN.</strong>
        <br> (Lần nạp đầu tiên vui lòng chọn <strong> TÀI KHOẢN NGÂN HÀNG</strong> để lưu lại stk ngân hàng của quý khách)
        <br> Điền SỐ TIỀN NẠP: Vui lòng điền đủ số. Ví dụ: 1 triệu đồng = 1.000.000
        <br> Chọn TÀI KHOẢN NGÂN HÀNG NHẬN: Chọn tài khoản ngân hàng mà quý khách đã chuyển tiền vào.
        <br> Chọn SẢN PHẨM GAME: Chọn cổng game mà bạn muốn nạp tiền với quy đổi điểm tương ứng ghi chú kế bên.
        <br> Ghi chú: Vui lòng cung cấp thêm ghi chú đặc biệt. Nếu không có thể bỏ trống.
        <br> Ấn nút NẠP TIỀN để hoàn tất.
    </p>
    <h4 class="text-danger">HƯỚNG DẪN NẠP TIỀN</h4>
    <h5 class="text-danger">CÁCH 1</h5>
    <h5>Click vào biểu tượng nạp tiền ở trang chủ để vào trang nạp tiền</h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/naptienc1.PNG" class="img-fluid imgingame" />
    </a>
    <img src="assets/images/naptienc11.PNG" class="img-fluid imgingame mt-4" />
    <h5 class="text-danger mt-4 ">CÁCH 2</h5>
    <h5>Click vào thông tin tài khoản phía góc phải màn hình.</h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/naptienc2.PNG" class="img-fluid imgingame" />
    </a>
    <h5>Tại menu phía bên trái màn hình hãy click vào tab nạp tiền.</h5>
    <img src="assets/images/naptienc21.PNG" class="img-fluid imgingame mt-4" />
    <p>
        <strong>Hỗ trợ rút tiền nhiều ngân hàng khác nhau. Quý khách vui lòng truy cập mục RÚT TIỀN.</strong>

        <br> Điền SỐ TIỀN RÚT: Vui lòng điền đủ số. Ví dụ: 1 triệu đồng = 1.000.000
        <br> Chọn TÀI KHOẢN NGÂN HÀNG NHẬN: Chọn tài khoản ngân hàng mà quý khách đã chuyển tiền vào.
        <br> Chọn SẢN PHẨM GAME: Chọn cổng game mà bạn muốn rút tiền với quy đổi điểm tương ứng ghi chú kế bên.
        <br> Ấn nút RÚT TIỀN để hoàn tất.
    </p>
    <h4 class="text-danger">HƯỚNG DẪN RÚT TIỀN</h4>
    <h5 class="text-danger">CÁCH 1</h5>
    <h5>Click vào biểu tượng rút tiền ở trang chủ để vào trang rút tiền</h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/ruttienc1.PNG" class="img-fluid imgingame" />
    </a>
    <img src="assets/images/ruttienc11.PNG" class="img-fluid imgingame mt-4" />
    <h5 class="text-danger mt-4 ">CÁCH 2</h5>
    <h5>Click vào thông tin tài khoản phía góc phải màn hình.</h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/naptienc2.PNG" class="img-fluid imgingame" />
    </a>
    <h5> Tại menu phía bên trái màn hình hãy click vào tab rút tiền</h5>
    <img src="assets/images/ruttienc21.PNG" class="img-fluid imgingame my-4" />
</div>