.imgingame {
    width: 85%;
    height: 85%;
}

.w-80 {
    width: 80%;
}

.change-Location {
    font-size: 0.875rem;
    border-radius: 18px;
    position: absolute;
    padding: 0px 3px;
    /* top: 25%; */
    /* right: 77%; */
    transform: translate(0px, 180px) scale(1.2);
}

.video-container {
    position: relative;
    width: 100%;
    // padding-bottom: 51.25%;
    height: 96%;
    /* 16:9 aspect ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-link-game {
  justify-content: space-around;
  margin: 1%;
}

.btn-link-game1 {
  background: #FF7144;
}
@media only screen and (max-width: 1370px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 150px) scale(0.9);
    }
}

@media only screen and (max-width: 1280px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 150px) scale(0.8);
    }
}

@media only screen and (max-width: 1180px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 120px) scale(0.7);
    }
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 120px) scale(0.7);
    }
}

@media only screen and (max-width: 915px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 80px) scale(0.5);
    }
}

@media only screen and (max-width: 740px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 140px) scale(0.7);
    }
}

@media only screen and (max-width: 540px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 120px) scale(0.7);
    }
}

@media only screen and (max-width: 414px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 95px) scale(0.5);
    }
}

@media only screen and (max-width: 393px) {
    /* For mobile phones: */
    .change-Location {
        transform: translate(0px, 90px) scale(0.5);
    }
}

@media only screen and (max-width: 380px) {
    /* For mobile phones: */
    .change-Location {
        font-size: 7px;
        transform: translate(0px, 83px) scale(0.5);
    }
}
.alert {
  font-size: 20px ;
  color: red;
  text-shadow:
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
  animation: flicker 1.5s infinite alternate;
  padding-right                          : 350px !important;
}
