<div class="row">
    <div class="col-md-3 mb-4 col-sm-12 d-flex justify-content-center">
        <ul class="m-4 navbar-ul">
            <li><a class="navbar-li  text-center menuHeight" [ngClass]="{ 'border-li': isborderli[0] }" (click)="activeInfo(0)">THÔNG TIN TÀI KHOẢN</a></li>
            <li><a class="navbar-li  text-center menuHeight" [ngClass]="{ 'border-li': isborderli[1] }" (click)="activeInfo(1)">TÀI KHOẢN NGÂN HÀNG</a></li>
            <li><a class="navbar-li  text-center menuHeight align-self-center" [ngClass]="{ 'border-li': isborderli[2] }" (click)="activeInfo(2)">ĐỔI MẬT KHẨU</a></li>
            <li><a class="navbar-li  text-center menuHeight align-self-center" [ngClass]="{ 'border-li': isborderli[3] }" (click)="activeInfo(3)">NẠP TIỀN</a></li>
            <li><a class="navbar-li  text-center menuHeight align-self-center" [ngClass]="{ 'border-li': isborderli[4] }" (click)="activeInfo(4)">RÚT TIỀN</a></li>
            <li><a class="navbar-li  text-center menuHeight align-self-center" [ngClass]="{ 'border-li': isborderli[5] }" (click)="activeInfo(5)">LỊCH SỬ NẠP RÚT</a></li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-12">
        <div id="tab0" *ngIf="selectedTab === 0">
            <div class="row">
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <h3 class="text-danger col-12  d-flex justify-content-center mgbottom"><i>THÔNG <span class="styleUnderLine"> TIN TÀI </span> KHOẢN</i></h3>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group col-md-12">
                                <label for="fullName" class="size1Rem">Họ và tên : </label>
                                <input type="text" formControlName="fullName" id="fullName" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group col-md-12">
                                <label for="numberPhone" class="size1Rem">Số điện thoại : </label>
                                <input type="text" formControlName="numberPhone" id="numberPhone" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group col-md-12">
                                <label for="accountName" class="size1Rem">Tên đăng nhập : </label>
                                <input type="text" formControlName="accountName" id="accountName" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group col-md-12">
                                <label for="gameCheck" class="size1Rem">Sản phẩm game đã đăng kí: </label>
                                <select id="gameCheck" class="form-control" name="gameCheck" [(ngModel)]="selectGame" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let game of gameLists" [value]="game._id">{{game.name}}</option> 
                         </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group col-md-12">
                                <label for="fullName" class="size1Rem">Email : </label>
                                <input type="text" formControlName="fullName" id="fullName" class="form-control">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 col-sm-12"></div>
            </div>
        </div>
        <div id="tab1" *ngIf="selectedTab === 1">1</div>
        <div id="tab2" *ngIf="selectedTab === 2">2</div>
        <div id="tab3" *ngIf="selectedTab === 3">3</div>
        <div id="tab4" *ngIf="selectedTab === 4">4</div>
        <div id="tab5" *ngIf="selectedTab === 5">5</div>
    </div>

</div>