<div class="container col-sm-12" style="min-height: 800px;">
    <div class="row">
        <h3 class="text-danger col-12  d-flex justify-content-center mb-4"><i>THÔNG <span class="styleUnderLine"> TIN TÀI</span> KHOẢN</i></h3>
        <div class=" col-md-12 d-flex justify-content-center my-4">
            <button type="submit" class="btn btn-danger mt-2 " (click)="addTransaction()">THÊM DỮ LIỆU TÀI KHOẢN</button>
        </div>
        <div class="input-group mb-3 col-md-12 ">
            <input type="text" class="form-control " placeholder="Tìm kiếm..." [(ngModel)]="searchTerm" name="search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" (click)="search()">Tìm kiếm</button>
            </div>
        </div>
        <div class=" col-md-12 my-4">
            <table class=" rounded-5 border-top-0" style="width: 100%;">
                <thead>
                    <tr class="borderstyle m-1">
                        <th class="px-4 text-center">ID</th>
                        <th class="px-4 text-center">Tên Tài Khoản</th>
                        <th class="px-4 text-center">Email</th>
                        <th class="px-4 text-center">Số điện thoại</th>
                        <th class="px-4 text-center">Tên đầy đủ</th>
                        <th class="px-4 text-center">Loại tài khoản</th>
                        <th class="px-4 text-center">Ngày tạo tài khoản</th>
                        <th class="px-4 text-center">Thông tin</th>
                        <th class="px-4 text-center">Cập nhật</th>
                        <th class="px-4 text-center">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of filteredAccounts.slice((currentPage - 1) * pageSize, currentPage * pageSize); let i = index" class="borderstyle m-1">
                        <td class=" py-2 text-center">{{ (currentPage - 1) * pageSize + i +1 }}</td>
                        <td class=" py-2 text-center">{{ account.username }}</td>
                        <td class=" py-2 text-center">{{ account.email }}</td>
                        <td class=" py-2 text-center">{{ account.numberPhone }}</td>
                        <td class=" py-2 text-center">{{ account.fullName }}</td>
                        <td class=" py-2 text-center">{{ account.admin ? 'admin' : 'thường' }} </td>
                        <td class=" py-2 text-center">{{ account.updatedAt | date:'yyyy/MM/dd hh:mm:ss' }}</td>
                        <td class=" py-2 text-center">
                            <a (click)="infoAccount(account._id) " class="text-primary"><i class="fa fa-info-circle"></i></a>
                        </td>
                        <td class="px-4 py-2 text-center">
                            <a (click)="updateAccount(account._id)" class="text-primary"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td class="px-4 py-2 text-center">
                            <a (click)="deleteAccount(account._id)" class="text-primary"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
            <span class="d-flex justify-content-center padding"> Chọn </span>
            <select [(ngModel)]="pageSize" (change)="currentPage = 1" class="pageselect mx-3">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
        </select>
            <button *ngIf="currentPage > 1" (click)="currentPage = currentPage - 1" class="my-button"><i class="fa-solid fa-arrow-left"></i>  </button>
            <button *ngIf="currentPage < (managerAccount.length / pageSize)" (click)="currentPage = currentPage + 1" class="my-button"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>