<div class="container"style="min-height: 800px;">
  <app-carousel></app-carousel>
  <h3 class="text-danger col-12  d-flex justify-content-center mb-4 mt-2"><i> <span class="styleUnderLine">  HỖ TRỢ</span>  </i></h3>
  <p>
    Dịch vụ hỗ trợ đa kênh của nhà cái T89 là một trong những dịch vụ nổi bật nhất của chúng tôi. Với nhiều kênh liên lạc khác nhau như Zalo, Telegram và Facebook, chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc của quý khách. Đội ngũ nhân viên chuyên nghiệp của chúng tôi luôn sẵn sàng hỗ trợ quý khách một cách nhanh chóng và hiệu quả. Chúng tôi cam kết mang đến cho quý khách trải nghiệm dịch vụ tốt nhất.</p>

<p>Ngoài ra, chúng tôi cung cấp các dịch vụ khác như đặt cược trực tuyến, thanh toán nhanh chóng và an toàn. Chúng tôi luôn cập nhật các thông tin mới nhất về thị trường cá cược để mang đến cho quý khách những trải nghiệm tốt nhất. Hãy liên hệ với chúng tôi qua các kênh liên lạc để biết thêm chi tiết.</p>

<p><a class="text-center" href="http://zaloapp.com/qr/p/t29fn2pl2zf3" target="_blank">
  Click vào để được hỗ trợ tại kênh Zalo
</a></p>
<p><a class="text-center" href="https://www.facebook.com/t89bet" target="_blank">
  Click vào để được hỗ trợ tại kênh Facebook
</a></p>
<p><a class="text-center" href="https://t.me/t89bet" target="_blank">
  Click vào để được hỗ trợ tại kênh Telegram
</a></p>

</div>
