<div class="container">
    <h4 class="text-danger">HƯỚNG DẪN LẤY TÀI KHOẢN GAME</h4>
    <h5 class="text-danger">CÁCH 1</h5>
    <h5>
        <strong>Click vào nút tài khoản ở trang chủ để lấy tài khoản Game</strong>

    </h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/taikhoangame1.PNG" class="img-fluid imgingame" />
    </a>
    <h5 class="mt-4">
        <strong>Nhấn nút sao chép để có thể copy tài khoản game hoặc password game</strong>

    </h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/taikhoangame11.PNG" class="img-fluid imgingame" />
    </a>
    <h5 class="text-danger">CÁCH 2</h5>
    <h5>
        <strong>Click vào nút tài khoản ở góc phải trang chủ để vào thông tin tài khoản</strong>

    </h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/naptienc2.PNG" class="img-fluid imgingame" />
    </a>
    <h5 class="mt-4">
        <strong>Nhấn nút sao chép để có thể copy tài khoản game hoặc password game</strong>

    </h5>
    <a class="text-center mt-4 " style="width: 30%;">
        <img src="assets/images/taikhoangame21.PNG" class="img-fluid imgingame" />
    </a>

</div>