
<div class="container ">
  <app-carousel></app-carousel>


  <div *ngIf="!isLoggedIn" class="d-flex justify-content-around mt-1 ">
    <a class="text-center" href="https://example.com">
      <img src="assets/images/addmoney.png" class="img-fluid imgingame">
    </a>
    <a class="text-center" href="https://example.com">
      <img src="assets/images/movegame.png" class="img-fluid imgingame">
    </a>
    <a class="text-center" href="https://example.com">
      <img src="assets/images/money.png" class="img-fluid imgingame">
    </a>
  </div>


  <div class="row   justify-content-center">
    <div class="col-md-3 col-6">
      <img src="assets/images/1Bong88.jpg" alt="Image Description" class="img-thumbnail d-block ">
    </div>
    <div class="col-md-3 col-6">
      <img src="assets/images/2SBOBET.jpg" alt="Image Description" class="img-thumbnail d-block ">
    </div>
    <div class="col-md-3 col-6">
      <img src="assets/images/3in1bet.jpg" alt="Image Description" class="img-thumbnail d-block ">
    </div>
    <div class="col-md-3 col-6">
      <img src="assets/images/Lasvegas.jpg" alt="Image Description" class="img-thumbnail d-block ">
    </div>
  </div>
  <div class="row">
    <div class="col-8">

    </div>
    <div class="col-4">
      <div class="d-flex flex-column mt-1 ">
        <a class="text-center" href="https://example.com">
          <img src="assets/images/24.png" class="img-fluid m-2 p-2">
        </a>
        <a class="text-center" href="https://example.com">
          <img src="assets/images/zalo.png" class="img-fluid m-2 p-2">
        </a>
        <a class="text-center" href="https://example.com">
          <img src="assets/images/huongdan.png" class="img-fluid m-2 p-2">
        </a>
      </div>
    </div>
  </div>
</div>
