<form [formGroup]="formRegister" (ngSubmit)="onSubmit()" class="container">
    <div class=" col-md-12">
        <div class="row">
            <i class="col-md-12 d-flex justify-content-center">
                <h2 class="text-danger">ĐĂNG <u class="text-danger">KÝ TÀI</u> KHOẢN</h2>
            </i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="fullName">Họ tên (Tên thật trùng với tài khoản ngân hàng) <span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="fullName" id="fullName" class="form-control" >
                    <div *ngIf="formRegister.get('fullName').invalid && (formRegister.get('fullName').dirty || formRegister.get('fullName').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('fullName').errors.required">Vui lòng nhập họ tên</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="username">Tên đăng nhập <span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="username" id="username" class="form-control">
                    <div *ngIf="formRegister.get('username').invalid && (formRegister.get('username').dirty || formRegister.get('username').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('username').errors.required">Vui lòng nhập tên đăng nhập</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="email">Email (email để nhận tài khoản game) <span class="text-danger">(*)</span></label>
                    <input type="email" formControlName="email" id="email" class="form-control">
                    <div *ngIf="formRegister.get('email').invalid && (formRegister.get('email').dirty || formRegister.get('email').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('email').errors.required">Vui lòng nhập email</div>
                        <div *ngIf="formRegister.get('email').errors.email">Vui lòng nhập email hợp lệ</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="numberPhone"> Số điện thoại<span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="numberPhone" id="numberPhone" class="form-control">
                    <div *ngIf="formRegister.get('numberPhone').invalid && (formRegister.get('numberPhone').dirty || formRegister.get('numberPhone').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('numberPhone').errors.required">Vui lòng nhập số điện thoại</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Mật khẩu (6 ký tự)<span class="text-danger">(*)</span></label>
                    <input type="password" formControlName="password" id="password" class="form-control">
                    <div *ngIf="formRegister.get('password').invalid && (formRegister.get('password').dirty || formRegister.get('password').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('password').errors.required">Vui lòng nhập mật khẩu</div>
                        <div *ngIf="formRegister.get('password').errors.minlength">Mật khẩu phải chứa ít nhất 6 ký tự</div>
                    </div>
                </div>
                <!--<div class="form-group col-md-6">
                    <label for="confirmPassword">Nhập lại mật khẩu<span class="text-danger">(*)</span></label>
                    <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control">
                    <div *ngIf="formRegister.get('confirmPassword').invalid && (formRegister.get('confirmPassword').dirty || formRegister.get('confirmPassword').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('confirmPassword').errors.required">Vui lòng nhập lại mật khẩu</div>
                        <div *ngIf="formRegister.get('confirmPassword').errors.matchingPasswords">Mật khẩu không khớp</div>
                    </div>
                </div>-->
                <div class="form-group col-md-12">
                    <label for="bankName"> Ngân Hàng<span class="text-danger">(*)</span></label>
                    <!-- <select formControlName="bankName" id="bankName" class="form-control" name="bankName">
                  <option *ngFor="let data of bankNameLists" [value]="data.id">{{data.name}}
                  </option>
              </select> -->
                    <select id="bankId" class="form-control" name="bankId" [(ngModel)]="selectedBank" (ngModelChange)="onBankChange($event)"[ngModelOptions]="{standalone: true}">
                 <option *ngFor="let bank of bankNameLists" [value]="bank._id">{{bank.name}}</option> 
              </select>
                    <div *ngIf="formRegister.get('bankId').invalid && (formRegister.get('bankId').dirty || formRegister.get('bankId').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('bankId').errors.required">Vui lòng chọn ngân hàng</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="bankAccountNumber"> Số Tài Khoản<span class="text-danger">(*)</span></label>
                    <input type="text" formControlName="bankAccountNumber" id="bankAccountNumber" class="form-control">
                    <div *ngIf="formRegister.get('bankAccountNumber').invalid && (formRegister.get('bankAccountNumber').dirty || formRegister.get('bankAccountNumber').touched)" class="invalid-feedback">
                        <div *ngIf="formRegister.get('bankAccountNumber').errors.required">Vui lòng nhập số tài khoản</div>
                    </div>
                </div>
                <div class=" col-md-12 d-flex justify-content-end mb-4">
                    <button type="submit" [disabled]="!formRegister.invalid" class="btn btn-primary mt-2 ">Đăng ký</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12 m-3 ">
                    <img alt="2sbobet" src="../../assets/images/1Bong88.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">1Bong88: 1 điểm = 25.000 vnđ</span>
                </div>
                <div class="col-md-12 m-3">
                    <img alt="2sbobet" src="../../assets/images/2SBOBET.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">2SBOBET: 1 điểm = 25.000 vnđ</span>
                </div>

                <div class="col-md-12 m-3">
                    <img alt="2sbobet" src="../../assets/images/Lasvegas.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">Lasvegas: 1 điểm = 25.000 vnđ</span>
                </div>
                <div class="col-md-12 m-3">
                    <img alt="2sbobet" src="../../assets/images/3in1bet.jpg" width="10%" height="140%" style="border-radius: 50%;">
                    <span class="mx-3">3in1bet: 1 điểm = 25.000 vnđ</span>
                </div>
            </div>
        </div>
    </div>
</form>
